body{
  background-color: #FFEAC9;
}

hr{
  border-style: dotted none none;
  border-width: 5px;
  border-color: #66DE93;
  width: 5%;
}

h1{
  color: #D83A56;
}

h3{
  color: #D83A56;
}
